<p class='parent'>
  <a></a>
  {{#if content.link_title}}
    {{link-to content.link_title 'subreddit.link' content.subreddit link_id '_' class='title'}}
    {{#if content.link_author}}
      by <a href="https://www.reddit.com/user/{{content.link_author}}" class='author may-blank'>{{content.link_author}}</a>
    {{/if}}
    in {{link-to content.subreddit 'subreddit' content.subreddit class='subreddit hover'}}
  {{/if}}
</p>
{{#if isComment}}
  <div class='midcol unvoted'>
    <div {{bind-attr class=":arrow upmod:upmod:up"}} {{action 'upmod'}} role='button' aria-label='upvote' tabindex='0'></div>
    <div {{bind-attr class=":arrow downmod:downmod:down"}} {{action 'downmod'}} role='button' aria-label='downvote' tabindex='0'></div>
  </div>
{{/if}}
<div class='entry unvoted'>
  <p class='tagline'>
    <a class='expand' {{action 'toggleCollapse'}}>{{if isCollapsed '[+]' '[-]'}}</a><a
      href="/user/{{content.author}}" class="{{content.distinguished}}">{{content.author}}</a>
      <span class='userattrs'></span>{{#if content.score_hidden}}<span
        class="score-hidden" title="scores for stickied comments are visible to mods only"
        >[score hidden]</span>{{else}}<span
        class='score unvoted'>{{content.score}} points</span>{{/if}}
    {{#if created_utc}}
      <time
        title="{{unbound createdMoment}}"
        datetime="{{unbound created_utc}}"
        class='live-timestamp'
      >{{time-ago-in-words createdMoment}}</time>
    {{/if}}{{#if content.stickied}}
      <span class="stickied-tagline" title="selected by this subreddit's moderators">stickied comment</span>
    {{/if}}{{#if content.banned_by}}
      <span class="stickied-tagline" title="[removed] by moderators">[removed]{{#if content.removal_reason}}
        ({{content.removal_reason}})
      {{/if}}</span>
    {{/if}}
  {{#if children.length}}
    <a class='numchildren'>({{children.length}} children)</a>
  {{/if}}
  </p>
{{#unless isCollapsed}}
  <form class='usertext'>
    <div class='usertext-body md-container'>
      {{#if content.body_html}}
        {{{content.body_html}}}
      {{else}}
        <div class='md'>{{markdown-to-html markdown=content.body}}</div>
      {{/if}}
    </div>
  </form>
  <ul class='flat-list buttons'>
    {{#if link_id}}
      <li class='first'><a href="{{unbound permalink}}">permalink</a></li>
      {{#if parentUrl}}
        <li><a href="{{unbound parentUrl}}">parent</a></li>
        {{#if content.link_title}}
          <li><a href="{{unbound parentUrl}}?context=3">context</a></li>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if snoocore.user}}
      {{#if isComment}}
        <li class='reply-button'><a href='javascript:function(){}();'{{action 'reply'}}>reply</a></li>
      {{/if}}
    {{/if}}
    {{!--<li class='comment-save-button save-button'><a>save</a></li>--}}
    {{!--<li class='report-button'><a>report</a></li>--}}
    {{!--<li><a class='give-gold'>give gold</a></li>--}}
    {{!--<li><a>reply</a></li>--}}
  </ul>
{{/unless}}
</div>
<div class='child'>
{{#if isReplying}}
  {{reply-form thing=content comments=children cancel='cancelReply' success='cancelReply'}}
{{/if}}
{{#unless isCollapsed}}
  {{#if children.length}}
      {{reddit-listing content=children classNames="listing"}}
  {{/if}}
{{/unless}}
</div>

<div class='clearleft'></div>
