<p class='parent'>
  <a></a>
  {{#if content.link_title}}
    {{link-to content.link_title 'subreddit.link' content.subreddit link_id '_' class='title'}}
    {{#if content.link_author}}
      by <a href="https://www.reddit.com/user/{{content.link_author}}" class='author may-blank'>{{content.link_author}}</a>
    {{/if}}
    in {{link-to content.subreddit 'subreddit' content.subreddit class='subreddit hover'}}
  {{/if}}
</p>
{{#if isComment}}
  <div class='midcol unvoted'>
    <div {{bind-attr class=":arrow upmod:upmod:up"}} {{action 'upmod'}} role='button' aria-label='upvote' tabindex='0'></div>
    <div {{bind-attr class=":arrow downmod:downmod:down"}} {{action 'downmod'}} role='button' aria-label='downvote' tabindex='0'></div>
  </div>
{{/if}}
<div class='entry unvoted'>
  <p class='tagline'>
    <a class='expand' {{action 'toggleCollapse'}}>{{if isCollapsed '[+]' '[-]'}}</a>{{link-to content.author 'catchall' authorPath}} <span class='userattrs'></span><span
      class='score dislikes'>{{downs}} points</span><span
      class='score unvoted'>{{content.score}} points</span><span
      class='score likes'>{{ups}} points</span>
    {{#if created_utc}}
      <time
        title="{{unbound createdMoment}}"
        datetime="{{unbound created_utc}}"
        class='live-timestamp'
      >{{time-ago-in-words createdMoment}}</time>
    {{/if}}
{{#if children.length}}
    <a class='numchildren'>({{children.length}} children)</a>
{{/if}}
      {{hotScore}} hotness

  </p>
  <form class='usertext'>
    <div class='usertext-body md-container'>
      {{#if content.body_html}}
        {{{content.body_html}}}
      {{else}}
        <div class='md'>{{markdown-to-html markdown=content.body}}</div>
      {{/if}}
    </div>
  </form>
  <ul class='flat-list buttons'>
    {{#if link_id}}
      <li class='first'><a href="{{unbound permalink}}">permalink</a></li>
    {{/if}}
    {{#if snoocore.user}}
      {{#if isComment}}
        <li class='reply-button'><a href='javascript:function(){}();'{{action 'reply'}}>reply</a></li>
      {{/if}}
    {{/if}}
    {{!--<li class='comment-save-button save-button'><a>save</a></li>--}}
    {{!--<li class='report-button'><a>report</a></li>--}}
    {{!--<li><a class='give-gold'>give gold</a></li>--}}
    {{!--<li><a>reply</a></li>--}}
  </ul>
</div>
<div class='child'>
{{#if isReplying}}
  {{reply-form thing=content comments=children cancel='cancelReply' success='cancelReply'}}
{{/if}}
{{#if children.length}}
    {{reddit-listing content=children classNames="listing"}}
{{/if}}
</div>

<div class='clearleft'></div>
