<p class='parent'></p>
{{#if rank}}<span class='rank'>{{rank}}</span>{{/if}}
<div class='midcol unvoted'>
  <div {{bind-attr class=":arrow upmod:upmod:up"}} {{action 'upmod'}} role='button' aria-label='upvote'></div>
  <div class='score dislikes'>{{downs}}</div>
  <div class='score unvoted'>{{content.score}}</div>
  <div class='score likes'>{{ups}}</div>
  <div {{bind-attr class=":arrow downmod:downmod:down"}} {{action 'downmod'}} role='button' aria-label='downvote'></div>
</div>
{{#unless disableThumbnail}}
  {{#if is_self}}
    <a class='thumbnail self' {{bind-attr href=url}} target='_new'></a>
  {{else}}
    {{#if thumbnail}}
      {{#if (eq thumbnail "default")}}
        <a class='thumbnail default may-blank' {{bind-attr href=url}} target='_new'></a>
      {{else}}
        {{#if (eq thumbnail "nsfw")}}
          <a class='thumbnail nsfw may-blank' {{bind-attr href=url}} target='_new'></a>
        {{else}}
          <a class='thumbnail may-blank' {{bind-attr href=url}} target='_new'><img {{bind-attr src=thumbnail}}/></a>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/unless}}
<div class='entry unvoted'>
  <p class='title'>
    {{#if content.locked}}<span class='linkflairlabel'>LOCKED</span>{{/if}}
    {{#if link_flair_text}}
      <span class='linkflairlabel' title="{{link_flair_text}}">{{link_flair_text}}</span>
    {{/if}}
    <a class='title' {{bind-attr href=url}} target='_new'>{{title}}</a>
    <span class='domain'>({{link-to domain 'catchall' domainPath}})</span>
  </p>
  {{#if expandable}}
    <div {{action "toggleExpand"}} title="toggle" {{bind-attr
      class=':expando-button expand:expanded:collapsed expandoClass'}}></div>
  {{/if}}
  <p class='tagline'>
    submitted <time
      datetime="{{unbound created_utc}}"
      title="{{unbound createdMoment}}"
      class='live-timestamp'>{{time-ago-in-words createdMoment}}</time>
    by {{link-to author 'catchall' authorPath}}
    to {{#link-to 'subreddit.index' subreddit}}/r/{{subreddit}}{{/link-to}}
  </p>
  <ul class='flat-list buttons'>
  {{#if content.over_18}}
    <li class='rounded nsfw-stamp stamp'>
      <acronym title="Adult content: Not Safe For Work">NSFW</acronym>
    </li>
  {{/if}}
    <li class='first'>
      {{#link-to 'subreddit.link' subreddit id '_' class='comments'}}
        {{num_comments}} comments {{#if content.locked}}(locked){{/if}}
      {{/link-to}}

      {{#if content.undelete}} |
        {{#link-to 'subreddit.link' content.undelete.subreddit content.undelete.id '_' class='comments'}}
          {{content.undelete.score}} points and
          {{content.undelete.num_comments}} comments on /r/{{content.undelete.subreddit}}
        {{/link-to}}
      {{/if}}

      {{#if content.missingFromAll}} |
        Filtered from /r/all
        <span class='rounded nsfw-stamp stamp'>
          <acronym title="Hotness says this should be in /r/all but it isn't">Filtered from /r/all</acronym>
        </span>
      {{/if}}
    </li>{{!--<li class='share'>
    </li><li class='link-save-button save-button'>
      <a>save</a>
    </li><li class='report-button'>
      <a>report</a>
    </li>--}}
  </ul>
  {{#if expand}}
    <div class='expando'>{{#if imageUrl}}
      <img {{bind-attr src=imageUrl}} {{action "toggleExpand"}}/>
    {{else}}
      {{#if embedHtml}}{{{embedHtml}}}{{/if}}
    {{/if}}{{#if content.is_self}}{{#if content.selftext_html}}
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{content.selftext_html}}}
        </div>
      </form>
    {{else}}
      {{#if content.selftext}}
        <form class='usertext'>
          <div class='usertext-body md-container'>
            <div class='md'>{{markdown-to-html markdown=content.selftext}}</div>
          </div>
        </form>
      {{/if}}
    {{/if}}{{/if}}{{#if isRemovedComment}}
      {{removed-comment post=content}}
    {{/if}}</div>
  {{/if}}
</div>
<div class='child'></div>
<div class='clearleft'></div>
