<p class='parent'></p>
{{#if rank}}<span class='rank'>{{rank}}</span>{{/if}}
<div class='midcol unvoted'>
  <div {{bind-attr class=":arrow upmod:upmod:up"}} {{action 'upmod'}} role='button' aria-label='upvote'></div>
  <div class='score dislikes'>{{downs}}</div>
  <div class='score unvoted'>{{content.score}}</div>
  <div class='score likes'>{{ups}}</div>
  <div {{bind-attr class=":arrow downmod:downmod:down"}} {{action 'downmod'}} role='button' aria-label='downvote'></div>
</div>
{{!--{{#if is_self}}
  <a class='thumbnail self' {{bind-attr href=url}} target='_new'></a>
{{else}}
  {{#if thumbnail}}<a class='thumbnail may-blank' {{bind-attr href=url}} target='_new'><img {{bind-attr src=thumbnail}}/></a>{{/if}}
{{/if}}--}}
<div class='entry unvoted'>
  <p class='title'>
    {{#if link_flair_text}}
      <span class='linkflairlabel'>{{link_flair_text}}</span>
    {{/if}}
    <a class='title' {{bind-attr href=url}} target='_new'>{{title}}</a>
    <span class='domain'>({{link-to domain 'catchall' domainPath}})</span>
  </p>
  {{#if expandable}}
    <div {{action "toggleExpand"}} title="toggle" {{bind-attr
      class=':expando-button expand:expanded:collapsed expandoClass'}}></div>
  {{/if}}
  <p class='tagline'>
    submitted <time {{bind-attr
      datetime=created_utc
    }} class='live-timestamp'>{{time-ago-in-words createdMoment}}</time>
    by {{link-to author 'catchall' authorPath}}
    to {{#link-to 'subreddit.index' subreddit}}/r/{{subreddit}}{{/link-to}}
  </p>
  <ul class='flat-list buttons'>
  {{#if content.over_18}}
    <li class='rounded nsfw-stamp stamp'>
      <acronym title="Adult content: Not Safe For Work">NSFW</acronym>
    </li>
  {{/if}}
    <li class='first'>
      {{#link-to 'subreddit.link' subreddit id '_' class='comments'}}
        {{num_comments}} comments
      {{/link-to}}
    </li>{{!--<li class='share'>
    </li><li class='link-save-button save-button'>
      <a>save</a>
    </li><li class='report-button'>
      <a>report</a>
    </li>--}}
  </ul>
  {{#if expand}}
    <div class='expando'>{{#if imageUrl}}
      <img {{bind-attr src=imageUrl}} {{action "toggleExpand"}}/>
    {{else}}
      {{#if embedHtml}}{{{embedHtml}}}{{/if}}
    {{/if}}{{#if selftext_html}}
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{selftext_html}}}
        </div>
      </form>
    {{/if}}{{#if isRemovedComment}}
      {{removed-comment post=content}}
    {{/if}}</div>
  {{/if}}
</div>
<div class='child'></div>
<div class='clearleft'></div>
