{{!--<div class='spacer'>
  <div id='siteTable_organic' class='organic-listing show-placeholder' style='background-color: rgba(0, 0, 0, 0);'>
    {{interest-bar}}
  </div>
</div>--}}
<div class='spacer'>
  <style>.ember-app >.content .link .rank, .rank-spacer { width: 3.3ex } .ember-app >.content .link .midcol, .midcol-spacer { width: 5.1ex }</style>
  {{reddit-listing content=content classNames="linklisting" rankStart=count}}
  <div class='nav-buttons'>
    <span class='nextprev'>
      view more:
      {{#if count}}
        {{#if prevCount}}
          {{link-to '‹ prev'
            (query-params before=first.name after='' count=prevCount)
            class='prev'}}
        {{else}}
          {{link-to '< prev'
            (query-params before='' after='' count=0)
            class='prev'}}
        {{/if}}
      {{/if}}
      {{#if hasMore}}
        {{link-to 'next ›'
          (query-params after=last.name before='' count=nextCount)
          class='next'}}
      {{/if}}
    </span>
  </div>
</div>
