<style>.ember-app >.content .link .rank, .rank-spacer { width: 1.1ex } .ember-app >.content .link .midcol, .midcol-spacer { width: 5.1ex }</style>
<div id='siteTable' class='sitetable linklisting'>
  {{reddit-link content=model.link expand=true}}
</div>
<div class='commentarea'>
  <div class='panestack-title'>
    <span class='title'>
      {{model.link.num_comments}} comments |
      {{#if model.comments.isLoading}}&gt;{{/if}}{{model.comments.removedCount}} [removed]
    </span>
    {{#if model.comments.isLoading}}
      <span class='loading working title'><span class='throbber'></span></span>
      {{model.comments.progress}}% scanned
    {{/if}}
  </div>
  <div class='menuarea'>
    <div class='spacer'>
      <span class='dropdown-title lightdrop'>sorted by: </span>
      <div class='dropdown lightdrop'>
        <span class='selected'>best</span>
      </div>
      <div class='drop-choices lightdrop'>
      </div>
    </div>
  </div>
  {{#if snoocore.user}}{{reply-form thing=model.link comments=model.comments cancel=false}}{{/if}}
  {{reddit-listing content=model.comments}}
</div>
