{{#if model.display_name}}
  <span class='hover pagename redditname'>
    {{link-to model.display_name 'subreddit.index'}}
  </span>
  <ul class='tabmenu'>
    {{#link-to 'subreddit.index' tagName='li' activeClass='selected'}}
      {{link-to 'hot' 'subreddit.index'}}
    {{/link-to}}
    {{#link-to 'subreddit.new' tagName='li' activeClass='selected'}}
      {{link-to 'new' 'subreddit.new'}}
    {{/link-to}}
    {{#link-to 'subreddit.rising' tagName='li' activeClass='selected'}}
      {{link-to 'ris' 'subreddit.rising'}}
    {{/link-to}}
    {{#link-to 'subreddit.controversial' tagName='li' activeClass='selected'}}
      {{link-to 'con' 'subreddit.controversial'}}
    {{/link-to}}
    {{#link-to 'subreddit.top' tagName='li' activeClass='selected'}}
      {{link-to 'top' 'subreddit.top'}}
    {{/link-to}}
    {{#link-to 'catchall' 'domain/rm.reddit.com' tagName='li' activeClass='selected'}}
      {{link-to 'rm' 'catchall' 'domain/rm.reddit.com'}}
    {{/link-to}}
    {{#link-to 'catchall' 'domain/pu.reddit.com' tagName='li' activeClass='selected'}}
      {{link-to 'pu' 'catchall' 'domain/pu.reddit.com'}}
    {{/link-to}}
    {{#link-to 'catchall' 'domain/np.reddit.com' tagName='li' activeClass='selected'}}
      {{link-to 'np' 'catchall' 'domain/np.reddit.com'}}
    {{/link-to}}
  </ul>
{{else}}
  <ul class='tabmenu'>
    {{#link-to 'subreddit' 'all' tagName='li' activeClass='selected'}}
      {{link-to 'all' 'subreddit' 'all'}}
    {{/link-to}}
    {{#if snoocore.isLoggedIn}}
      {{#link-to 'me' tagName='li' activeClass='selected'}}
        {{link-to 'me' 'me'}}
      {{/link-to}}
    {{/if}}
    {{#link-to 'index' tagName='li' activeClass='selected'}}
      {{link-to 'hot' 'index'}}
    {{/link-to}}
    {{#link-to 'new' tagName='li' activeClass='selected'}}
      {{link-to 'new' 'new'}}
    {{/link-to}}
    {{#link-to 'rising' tagName='li' activeClass='selected'}}
      {{link-to 'ris' 'rising'}}
    {{/link-to}}
    {{#link-to 'controversial' tagName='li' activeClass='selected'}}
      {{link-to 'con' 'controversial'}}
    {{/link-to}}
    {{#link-to 'top' tagName='li' activeClass='selected'}}
      {{link-to 'top' 'top'}}
    {{/link-to}}
    {{#link-to 'catchall' 'domain/rm.reddit.com' tagName='li' activeClass='selected'}}
      {{link-to 'rm' 'catchall' 'domain/rm.reddit.com'}}
    {{/link-to}}
    {{#link-to 'catchall' 'domain/pu.reddit.com' tagName='li' activeClass='selected'}}
      {{link-to 'pu' 'catchall' 'domain/pu.reddit.com'}}
    {{/link-to}}
    {{#link-to 'catchall' 'domain/np.reddit.com' tagName='li' activeClass='selected'}}
      {{link-to 'np' 'catchall' 'domain/np.reddit.com'}}
    {{/link-to}}
  </ul>
{{/if}}
