<span class='hover pagename redditname'>
  {{#if snoocore.user}}
    {{link-to 'me' 'me.index'}}
  {{else}}
    {{link-to "reddit" 'me.index'}}
  {{/if}}
</span>
<ul class='tabmenu'>
  {{#link-to 'subreddit' 'all' tagName='li' activeClass='selected'}}
    {{link-to 'all' 'subreddit' 'all'}}
  {{/link-to}}
  {{#link-to 'me.index' tagName='li' activeClass='selected'}}
    {{link-to 'hot' 'me.index'}}
  {{/link-to}}
  {{#link-to 'me.new' tagName='li' activeClass='selected'}}
    {{link-to 'new' 'me.new'}}
  {{/link-to}}
  {{#link-to 'me.rising' tagName='li' activeClass='selected'}}
    {{link-to 'ris' 'me.rising'}}
  {{/link-to}}
  {{#link-to 'me.controversial' tagName='li' activeClass='selected'}}
    {{link-to 'con' 'me.controversial'}}
  {{/link-to}}
  {{#link-to 'me.top' tagName='li' activeClass='selected'}}
    {{link-to 'top' 'me.top'}}
  {{/link-to}}
  {{#link-to 'catchall' 'domain/rm.reddit.com' tagName='li' activeClass='selected'}}
    {{link-to 'rm' 'catchall' 'domain/rm.reddit.com'}}
  {{/link-to}}
  {{#link-to 'catchall' 'domain/pu.reddit.com' tagName='li' activeClass='selected'}}
    {{link-to 'pu' 'catchall' 'domain/pu.reddit.com'}}
  {{/link-to}}
  {{#link-to 'catchall' 'domain/np.reddit.com' tagName='li' activeClass='selected'}}
    {{link-to 'np' 'catchall' 'domain/np.reddit.com'}}
  {{/link-to}}
</ul>
