{{#if stylesheet}}<style>{{{stylesheet}}}</style>{{/if}}
<div id='header' role='banner'>
  <a tabindex='1' href='#content' id='jumpToContent'>jump to content</a>
  <div id='sr-header-area'>
    <STRONG>THIS IS NOT REDDIT!!!</STRONG>
    |
    Welcome to the <strong>snew</strong> client.
  </div>
  <div id='header-bottom-left'>
    {{#if subreddit.header_img}}
      {{#link-to 'index' id='header-img-a'}}
        <img id='header-img' {{bind-attr
          src=subreddit.header_img
          alt=subreddit.display_name
          title=subreddit.header_title
        }}>
      {{/link-to}}
    {{else}}
      {{#link-to 'index' id='header-img' class='default-header'}}
        snew
      {{/link-to}}
    {{/if}}
    {{outlet "tabmenu"}}
    {{interest-bar placeholder="what's new?" action='navToMulti' hideResults=true}}
  </div>
  <div id='header-bottom-right'>
    {{#if snoocore.user}}
      {{#with snoocore.user as user}}
      <span class='user'>{{link-to user.name 'catchall' snoocore.userPath}}</span>&nbsp;(<span class='userkarma'>{{user.link_karma}}</span>)<span class='separator'>|</span><a
        id='mail' href='/message/inbox' {{bind-attr class="user.has_mail:havemail:nohavemail"}}>messages</a><span class='separator'>|</span>{{!--<a
        id='modmail' href='/message/moderator' {{bind-attr class="user.has_mod_mail:havemail:nohavemail"}}>messages</a><span class='separator'>|</span>--}}<a
        {{action 'logout'}} title='Logout' style='cursor: pointer;'>logout {{time-ahead-in-words snoocore.loginExpiry}}</a>
      {{/with}}
    {{else}}
      <a title='Login' {{bind-attr href=snoocore.loginUrl}}>Login at reddit.com</a>
    {{/if}}
  </div>
</div>
<div class='side'>
  {{outlet "sidebartop"}}
  {{outlet "sidebar"}}
  <div class='spacer'>
    <h1><a href="http://openthesafe.space" target="_new">openthesafe.space</a></h1>
    <p>{{link-to 'snew.github.io' 'index'}} is developed by <a href="http://go1dfish.me" target="_new">go1dfish</a></p>
    <hr>
    <h2>This site is not affiliated with Reddit Inc.</h2>
    <hr>
    <h3>
      {{#link-to 'nsfa'}}
      <span class='nsfw-stamp stamp rounded'>
        <acronym title="Adult content: Not Safe For Work">NSFW</acronym>
      </span>
      Reddit is Not Safe For Advertisers
      {{/link-to}}
    </h3>
    <hr>
    <h1>Some Reddit Advertisers:</h1>
    <ul>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/1zg9sg/live_qa_here_today_with_dr_kat_staff_sexologist/" title="Adam and Eve Stores" class='dontintercept'><img src="//www.redditstatic.com/adam-and-eve-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/1xx2zz/the_bates_motel_is_open_for_business_season_2/" title="A&amp;E" class='dontintercept'><img src="//www.redditstatic.com/ae-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/1jgh7h/j_cole_featuring_wale_what_dreams_may_come_tour/" title="AEGLive" class='dontintercept'><img src="//www.redditstatic.com/aeg-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/25g58f/get_instant_access_to_minimum_the_new_online/" title="Atari" class='dontintercept'><img src="//www.redditstatic.com/atari-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/1zjcgi/live_qa_with_the_physicists_behind_the_nobel/" title="Bond360" class='dontintercept'><img src="//www.redditstatic.com/bond360-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/25zrsd/io9com_calls_attack_on_titan_japans_equivalent_of/" title="Funimation" class='dontintercept'><img src="//www.redditstatic.com/funimation-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/20ez2d/happy_pi_day_redditors_buy_one_pie_and_send/" title="GoldBely" class='dontintercept'><img src="//www.redditstatic.com/goldbely-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/25pc1a/win_3_epic_travel_adventures_of_your_choice_worth/" title="Hostel World" class='dontintercept'><img src="//www.redditstatic.com/hostelworld-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/24hgbl/shanghai_high_confidential_lessons_from_the/" title="Newsweek" class='dontintercept'><img src="//www.redditstatic.com/newsweek-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/2310ew/read_an_excerpt_for_the_accidental_book_club_a/" title="Penguin Random House" class='dontintercept'><img src="//www.redditstatic.com/prh-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/1x6l0q/thank_you_reddit_yours_truly_will_ferrell/" title="Prizeo" class='dontintercept'><img src="//www.redditstatic.com/prizeo-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/1yu8zn/victim_of_bike_theft_dont_let_the_bastards_get/" title="State Bicycle" class='dontintercept'><img src="//www.redditstatic.com/state-bicycle-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/219f92/this_is_an_ad_this_is_a_vaporizer_the_volta_is_a/" title="VaporGenie" class='dontintercept'><img src="//www.redditstatic.com/vaporgenie-logo.png" width="100" height="75"></a></li>
      <li class="advertiser-logo"><a href="http://www.reddit.com/comments/22qf4q/getting_high_on_hiv_medication/" title="Vice" class='dontintercept'><img src="//www.redditstatic.com/vice-logo.png" width="100" height="75"></a></li>
    </ul>
  </div>
</div>
<div class='listing-chooser initialized'></div>
<a name='content'></a>
<div class='content' role='main'>{{outlet}}</div>
<div class='footer-parent'>
  <div class='footer rounded'>
    <h1>
      {{link-to "this app claims no affiliation with reddit inc. nor does reddit inc. endorse it." "subreddit.link" "POLITIC" "37ovia" "shadowban"}}
    </h1>
    <h2><strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is just an API client written in javascript.</h2>
    <h1>
      {{link-to 'Privacy Policy' 'privacy'}}
      All <a target='github' href='https://github.com/snew/snew'>code</a>
      is licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.
    </h1>
  </div>
  <p class='bottommenu'>This is NOT reddit.com, It is the V for reddit client AKA snew {{link-to 'Privacy Policy' 'privacy' class='updated'}}</p>
  <p class='bottommenu'>REDDIT and the ALIEN Logo are registered trademarks of reddit inc.</p>
</div>

<p class='debuginfo'>
  <span class='icon'>π</span>
</p>

{{#if fixedExpando}}
  <div class='fixed-expando'>
  <div class='controls'>
    <button {{action "closeFixedExpando"}}>Close</button>
  </div>
  {{#with fixedExpando}}
    {{#if imageUrl}}
      <img {{bind-attr src=imageUrl}}/>
    {{else}}
      {{#if media.oembed.html}}
        {{{media.oembed.html}}}
      {{/if}}
    {{/if}}{{#if selftext_html}}
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{selftext_html}}}
        </div>
      </form>
    {{/if}}
  {{/with}}
  </div>
{{/if}}
<div {{bind-attr class="gradio.autoplay :fixed-gradio"}}>
  {{profs-gradio class='container' maxUpdates=0 includeVideo=true}}
<div class='gradio-controls'>
{{link-to "People's Republic of Free Snew gRadio" 'radio'}}
{{#if gradio.playlist.length}}
  <button {{action 'playPrevious'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-backward'></span>prev</button>
  {{#if gradio.autoplay}}
    <button {{action 'stopRadio'}} class='btn btn-danger'><span class='glyphicon glyphicon-stop'></span>stop</button>
  {{else}}
    <button {{action 'playRadio'}} class='btn btn-primary'><span class='glyphicon glyphicon-play'></span>play</button>
  {{/if}}
  <button {{action 'playNext'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-forward'></span>next</button>
{{/if}}
</div>
</div>

{{growl-manager notifications=growl.notifications}}
