{{#if stylesheet}}<style>{{{stylesheet}}}</style>{{/if}}
<div id='header' role='banner'>
  <a tabindex='1' href='#content' id='jumpToContent'>jump to content</a>
  <div id='sr-header-area'>
    <STRONG>THIS IS NOT REDDIT!!!</STRONG>
    |
    Welcome to the <strong>snew</strong> client.
  </div>
  <div id='header-bottom-left'>
    {{#if subreddit.header_img}}
      {{#link-to 'index' id='header-img-a'}}
        <img id='header-img' {{bind-attr
          src=subreddit.header_img
          alt=subreddit.display_name
          title=subreddit.header_title
        }}>
      {{/link-to}}
    {{else}}
      {{#link-to 'index' id='header-img' class='default-header'}}
        snew
      {{/link-to}}
    {{/if}}
    {{outlet "tabmenu"}}
    {{interest-bar placeholder="what's new?" action='navToMulti' hideResults=true}}
  </div>
  <div id='header-bottom-right'>
    {{#if snoocore.user}}
      {{#with snoocore.user as user}}
      <span class='user'>{{link-to user.name 'catchall' snoocore.userPath}}</span>&nbsp;(<span class='userkarma'>{{user.link_karma}}</span>)<span class='separator'>|</span><a
        id='mail' href='/message/inbox' {{bind-attr class="user.has_mail:havemail:nohavemail"}}>messages</a><span class='separator'>|</span>{{!--<a
        id='modmail' href='/message/moderator' {{bind-attr class="user.has_mod_mail:havemail:nohavemail"}}>messages</a><span class='separator'>|</span>--}}<a
        {{action 'logout'}} title='Logout' style='cursor: pointer;'>logout {{time-ahead-in-words snoocore.loginExpiry}}</a>
      {{/with}}
    {{else}}
      <a title='Login' {{bind-attr href=snoocore.loginUrl}}>Login at reddit.com</a>
    {{/if}}
  </div>
</div>
<div class='side'>
  {{outlet "sidebartop"}}
  {{outlet "sidebar"}}
  <div class='spacer'>
    <h1><a href="http://openthesafe.space" target="_new">openthesafe.space</a></h1>
    <h3><a href="https://www.change.org/p/alexis-ohanian-to-step-down-from-reddit-board-and-administration-fire-alexis-ohanian?recruiter=335939671&utm_campaign=signature_receipt_twitter_dialog&utm_medium=twitter&utm_source=share_petition" target="_new">
      Petitioning Alexis Ohanian to step down from Reddit board and administration
    </a></h3>
    <h4><a href="http://www.reddit.com/r/BringBackReddit/comments/36alxp/my_open_letter_why_is_rtwoxchromosomes_the_only/" target="_new">Our struggle</a> is not over until the <a href="http://www.breitbart.com/london/2015/05/20/reddit-not-a-free-speech-platform-says-ceo/" target="_new">Orwellian Safe-Space</a> rule is repealed <a href="http://thenextweb.com/insider/2015/07/06/reddit-came-close-to-becoming-decentralized-last-year/" target="_new">What could have been...</a></h4>
    <h2><a href="http://www.reddit.com/r/self/comments/3cudi0/resignation_thank_you/" target="_new">Thank you</a> for listening ekjp, we're sorry it had to be this way!</h2>
    <h3>Words are the <a href="https://www.reddit.com/r/Ellenpaoinaction/comments/3bdtcp/reddit_was_so_beautiful_where_so_many_heroes_had/" target="_new">only weapons</a> us peasants have</h3>

    <div class='row'>
      <div class='col-md-6'>
        <blockquote>
          <p>
            You can't run an army without profanity; and it has to be eloquent profanity.  An army without profanity couldn't fight it's way out of a piss-soaked paper bag.
          </p><p>
            May god have mercy upon my enemies, because I won't.
          </p>
          <footer><a href="https://twitter.com/go1dfish/status/619930966358822912" target="_new">General Patton</a></footer>
        </blockquote>
      </div><div class='col-md-6'>
        <blockquote>
          <p>
            A revolution is not a dinner party, or writing an essay, or painting a picture, or doing embroidery. It cannot be so refined, so leisurely and gentle, so temperate, kind, courteous, restrained and magnanimous. A revolution is an insurrection
          </p>
          <footer><a href="https://en.wikiquote.org/wiki/Mao_Zedong#Quotations_from_Chairman_Mao_Zedong_.28The_Little_Red_Book.29" target="_new">Chairman Mao</a></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class='listing-chooser initialized'></div>
<a name='content'></a>
<div class='content' role='main'>{{outlet}}</div>
<div class='footer-parent'>
  <div class='footer rounded'>
    <h1>
      {{link-to "this app claims no affiliation with reddit inc. nor does reddit inc. endorse it." "subreddit.link" "POLITIC" "37ovia" "shadowban"}}
    </h1>
    <h2><strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is just an API client written in javascript.</h2>
    <h1>
      {{link-to 'Privacy Policy' 'privacy'}}
      All <a target='github' href='https://github.com/snew/snew'>code</a>
      is licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.
    </h1>
  </div>
  <p class='bottommenu'>This is NOT reddit.com, It is the V for reddit client AKA snew {{link-to 'Privacy Policy' 'privacy' class='updated'}}</p>
  <p class='bottommenu'>REDDIT and the ALIEN Logo are registered trademarks of reddit inc.</p>
</div>

<p class='debuginfo'>
  <span class='icon'>π</span>
</p>

{{#if fixedExpando}}
  <div class='fixed-expando'>
  <div class='controls'>
    <button {{action "closeFixedExpando"}}>Close</button>
  </div>
  {{#with fixedExpando}}
    {{#if imageUrl}}
      <img {{bind-attr src=imageUrl}}/>
    {{else}}
      {{#if media.oembed.html}}
        {{{media.oembed.html}}}
      {{/if}}
    {{/if}}{{#if selftext_html}}
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{selftext_html}}}
        </div>
      </form>
    {{/if}}
  {{/with}}
  </div>
{{/if}}
<div {{bind-attr class="gradio.autoplay :fixed-gradio"}}>
  {{profs-gradio class='container' maxUpdates=0 includeVideo=true}}
<div class='gradio-controls'>
{{link-to "People's Republic of Free Snew gRadio" 'radio'}}
{{#if gradio.playlist.length}}
  <button {{action 'playPrevious'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-backward'></span>prev</button>
  {{#if gradio.autoplay}}
    <button {{action 'stopRadio'}} class='btn btn-danger'><span class='glyphicon glyphicon-stop'></span>stop</button>
  {{else}}
    <button {{action 'playRadio'}} class='btn btn-primary'><span class='glyphicon glyphicon-play'></span>play</button>
  {{/if}}
  <button {{action 'playNext'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-forward'></span>next</button>
{{/if}}
</div>
</div>

{{growl-manager notifications=growl.notifications}}
