{{#if stylesheet}}
  <style>{{{stylesheet}}}</style>
{{else}}
  <link rel="stylesheet" href="https://b.thumbs.redditmedia.com/Ld-l2N5pF2mkMIgae94QtV2rjKjdJW9TKcF0lkGzz5I.css">
{{/if}}
<div id='header' role='banner'>
  <a tabindex='1' href='#content' id='jumpToContent'>jump to content</a>
  <div id='sr-header-area'>
    <ul class='flat-list sr-bar hover' id='sr-bar'>
      <li class='selected'>{{link-to 'r.go1dfish.me' 'index'}}</li>
      <li><span class="separator">-</span>{{link-to 'Search Comments' 'commentSearch'}}</li>
      <li><span class="separator">-</span><a class='choice' href='https://voat.co/v/MeanwhileOnReddit' target='_new'>/v/MeanwhileOnReddit</a></li>
      <li><span class="separator">-</span><a class='choice' href='https://reddit.com/r/Blackout2015'>Blackout2015</a></li>
      <li><span class="separator">-</span><a class='choice' href='https://reddit.com/r/SubredditCancer'>SubredditCancer</a></li>
      <li><span class="separator">-</span><a class='choice' href='https://reddit.com/r/WatchRedditDie'>WatchRedditDie</a></li>
      <li><span class="separator">-</span><a class='choice' href='https://reddit.com/r/undelete'>Undelete</a></li>
      <li><span class="separator">-</span><a class='choice' href='https://reddit.com/r/OpenAndGenuine'>OpenAndGenuine</a></li>
      <li><span class="separator">-</span><a class='choice' href='https://reddit.com/r/RedditMinusMods'>RedditMinusMods</a></li>
      <li><span class="separator">-</span><a class='choice' href='https://reddit.com/r/announcements+blog+modnews+changelog'>Announcements</a></li>
    </ul>
    |
    {{#link-to 'nsfa'}}
      <span class='nsfw-stamp stamp rounded'>
        <acronym title="Adult content: Not Safe For Work">NSFW</acronym>
      </span>
      stream
    {{/link-to}}
  </div>
  <div id='header-bottom-left'>
    {{!--{{#if subreddit.header_img}}
      {{#link-to 'index' id='header-img-a'}}
        <img id='header-img' {{bind-attr
          src=subreddit.header_img
          alt=subreddit.display_name
          title=subreddit.header_title
        }}>
      {{/link-to}}
    {{else}}
      {{#link-to 'index' id='header-img' class='default-header'}}
        snew
      {{/link-to}}
    {{/if}}--}}
    {{outlet "tabmenu"}}
  </div>
</div>
<div class='side'>
  {{outlet "sidebartop"}}
  {{outlet "sidebar"}}
</div>
<div class='listing-chooser initialized'></div>
<a name='content'></a>
<div class='content' role='main'>{{outlet}}</div>
<div class='footer-parent'>
  <p class='bottommenu'>
    <strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is an API client written in javascript.
  </p>
  <p class='bottommenu'>This is NOT reddit.com, It is the V for reddit client AKA snew {{link-to 'Privacy Policy' 'privacy' class='updated'}}</p>
  <p class='bottommenu'>REDDIT and the ALIEN Logo are registered trademarks of reddit inc.</p>
  <p class='bottommenu'>{{link-to 'r.go1dfish.me AKA snew.github.io' 'index'}} is developed by <a href="http://go1dfish.me" target="_new">go1dfish</a></p>
  <p class='bottommenu'>
    {{link-to 'Privacy Policy' 'privacy'}}
    All <a target='github' href='https://github.com/snew/snew'>code</a>
    is licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.
  </p>
  <p class='bottommenu'><a href="javascript:if (window.location.hostname.match(/reddit/)) {window.location = 'https://r.go1dfish.me' + window.location.pathname + window.location.search;}">
    r.go1dfish.me bookmarklet
  </a></p>
</div>

{{!--<p class='debuginfo'>
  <span class='icon'>π</span>
</p>--}}

{{#if fixedExpando}}
  <div class='fixed-expando'>
  <div class='controls'>
    <button {{action "closeFixedExpando"}}>Close</button>
  </div>
  {{#with fixedExpando}}
    {{#if imageUrl}}
      <img {{bind-attr src=imageUrl}}/>
    {{else}}
      {{#if media.oembed.html}}
        {{{media.oembed.html}}}
      {{/if}}
    {{/if}}{{#if selftext_html}}
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{selftext_html}}}
        </div>
      </form>
    {{/if}}
  {{/with}}
  </div>
{{/if}}
{{!--<div {{bind-attr class="gradio.autoplay :fixed-gradio"}}>
  {{profs-gradio class='container' maxUpdates=0 includeVideo=true}}
<div class='gradio-controls'>
{{#if gradio.playlist.length}}
  <button {{action 'playPrevious'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-backward'></span>prev</button>
  {{#if gradio.autoplay}}
    <button {{action 'stopRadio'}} class='btn btn-danger'><span class='glyphicon glyphicon-stop'></span>stop</button>
  {{else}}
    <button {{action 'playRadio'}} class='btn btn-primary'><span class='glyphicon glyphicon-play'></span>play</button>
  {{/if}}
  <button {{action 'playNext'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-forward'></span>next</button>
{{/if}}
</div>
</div>--}}

{{growl-manager notifications=growl.notifications}}
