{{!--<div class='spacer'>
  <form id='search' role='search' action=''>
    {{input value=search name='q' placeholder='search' action=''}}
    <input type='submit' value tabindex='22'/>
    <div id='searchexpando' class='infobar'>
    </div>
  </form>
</div>--}}
{{#if model.display_name}}
  {{!--<div class='spacer'>
    <div class='sidebox submit submit-link'>
      <div class='morelink'>
        <a>Submit a new link</a>
        <div class='nub'></div>
      </div>
    </div>
  </div>
  <div class='spacer'>
    <div class='sidebox submit submit-text'>
      <div class='morelink'>
        <a>Submit a new text post</a>
        <div class='nub'></div>
      </div>
    </div>
  </div>--}}
  <div class='spacer'>
    <div class='titlebox'>
      <h1 class='hover redditname'>
        {{link-to model.display_name 'subreddit.index'}}
      </h1>
      <span class='subscribers'>
        <span class='number'>{{model.subscribers}}</span>
        <span class='word'>readers</span>
      </span>
      <p class='users-online' title='logged-in users viewing this subreddit in the past 15 minutes'>
        <span class='number'>{{model.accounts_active}}</span>
        <span class='word'>users here now</span>
      </p>
      <div class='tagline'></div>
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{model.description_html}}}
        </div>
      </form>
    </div>
  </div>
{{/if}}
