{{!--<div class='spacer'>
  <form id='search' role='search' action=''>
    {{input value=search name='q' placeholder='search' action=''}}
    <input type='submit' value tabindex='22'/>
    <div id='searchexpando' class='infobar'>
    </div>
  </form>
</div>--}}
{{#if model.display_name}}
  {{!--<div class='spacer'>
    <div class='sidebox submit submit-link'>
      <div class='morelink'>
        <a>Submit a new link</a>
        <div class='nub'></div>
      </div>
    </div>
  </div>
  <div class='spacer'>
    <div class='sidebox submit submit-text'>
      <div class='morelink'>
        <a>Submit a new text post</a>
        <div class='nub'></div>
      </div>
    </div>
  </div>--}}
  <div class='spacer'>
    <div class='titlebox'>
      <h1 class='hover redditname'>
        {{link-to model.display_name 'subreddit.index'}}
      </h1>
      {{#if model.isBanned}}
        <h2>Banned Subreddit?</h2>
        <p>This subreddit is banned or the reddit API is not responding properly</p>
      {{else}}
        {{#each sub in model.subreddits}}
          <h4>{{#link-to 'subreddit.index' sub}}/r/{{sub}}{{/link-to}}</h4>
        {{/each}}
      {{/if}}
      {{#if model.subscribers}}
        <span class='subscribers'>
          <span class='number'>{{model.subscribers}}</span>
          <span class='word'>readers</span>
        </span>
      {{/if}}
      {{#if model.accounts_active}}
        <p class='users-online' title='logged-in users viewing this subreddit in the past 15 minutes'>
          <span class='number'>{{model.accounts_active}}</span>
          <span class='word'>users here now</span>
        </p>
      {{/if}}
      <div class='tagline'></div>
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{model.description_html}}}
        </div>
      </form>
    </div>
  </div>

{{#if model.moderators.length}}
  <div class="spacer">
    <div class="sidecontentbox">
      {{!--<a class="helplink access-required" href="/message/compose?to=%2Fr%2FAskReddit" data-fullname="t5_2qh1i" data-event-action="compose" data-type="subreddit">message the moderators</a>--}}
      <div class="title"><h1>{{model.moderators.length}} MODERATORS</h1></div>
      <ul class="content">
      {{#if model.hasPublicModLogs}}
        <li><h1>{{link-to 'View Public Mod Logs' 'subreddit.modlog'}}</h1></li>
      {{/if}}
      {{#each model.moderators as |mod|}}
        <li><a href="https://www.reddit.com/user/{{unbound mod.name}}" class="author may-blank id-t2_35gvu">{{unbound mod.name}}</a><span class="userattrs"></span></li>
      {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
{{/if}}
